@use 'base/typography';
@use 'abstracts/functions';
@use 'abstracts/mixins';

html,
body {
  padding: 0;
  margin: 0;
  @if (functions.get-font-family(body) != functions.get-font-family(heading)) {
    @include mixins.font-family(body);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
